body {
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
}

.container {
    background-color: #fff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px;
    margin-top: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}


.container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.display-4 {
    color: #331327;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    color: #4a2a3a;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.1em;
}

.form-control {
    border: 2px solid #6c757d;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    padding: 10px;
    font-size: 1em;
}

.form-control:focus {
    border-color: #0d6efd;
    outline: none;
}

.form-select {
    border: 2px solid #565857;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;
    padding: 10px;
    font-size: 1em;
}

.form-select:focus {
    border-color: #0d6efd;
    outline: none;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #b4b0b0;
    color: #000;
}

#result {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

#historico .historico-card {
    background-color: #000000;
    color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

#historico .historico-card:hover {
    transform: scale(1.02);
}

#historico .historico-card p {
    margin: 0;
}

#historico .historico-card .icon {
    color: #ffffff;
    margin-right: 10px;
}